@page "/"

<PageTitle>Snake Game</PageTitle>

<h1 style="font-size: 50px; color: green"> Welcome to our Snake Game</h1>
<h2 style="font-size: 20px; color: green"> created by Natalie DeSimone and Rishabh Saini</h2>
<br />
<br />
<h3 style="font-size: 30px; color: green"> To play the game follow the directions below</h3>
<br />
<h3 style="font-size: 20px; color: green"> a. Use the key "w" to go up, "d" to go right, "s" to go down, and "a" to go left.</h3>
<br />
<h3 style="font-size: 20px; color: green"> b. The game as two modes: Forest mode and Space Mode. To switch between modes, use the button right beside the "Connect" button.</h3>
<br />
<h3 style="font-size: 20px; color: green"> c. In Forest mode, find the Apples to grow your snake. In Space Mode, find the yellow stars.</h3>
<br />
<h3 style="font-size: 20px; color: green"> d. Avoid hitting the walls, other snakes and yourself self as that will make your snake explode (with an animation!).</h3>
<br />
<h3 style="font-size: 20px; color: green"> e. The number of players within the game will be displayed in the top right.</h3>
<br />
<h3 style="font-size: 20px; color: green"> f. If, for any reason, there is an error while connecting, you will be notified though a pop-up.</h3>






    
